@model SuperFriendsDB.Models.WorkModels.WorkDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Base)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
