@model SuperFriendsDB.Models.ConnectionModels.ConnectionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConnectionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupAffiliation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAffiliation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relatives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relatives)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConnectionsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
