@model IEnumerable<SuperFriendsDB.Models.ConnectionModels.ConnectionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupAffiliation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relatives)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ConnectionsId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CharacterId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GroupAffiliation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Relatives)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ConnectionsId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ConnectionsId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ConnectionsId })
    </td>
</tr>
}

</table>
